<div class="ui raised segment articles" style="margin: 60px 400px; background: rgb(246, 227, 186);">

  <h4 class="ui dividing large header"><%= t :new_conversation %></h4>
<%= form_tag messages_path, method: :post, class: "ui form"  do %>
<div class="required field">
	<%= label_tag 'message[subject]', t(:subject) %>
	<%= text_field_tag 'message[subject]', nil, required: true %>
</div>

<div class="required field">
	<%= label_tag 'message[body]', t(:message) %>
	<%= text_area_tag 'message[body]', nil, required: true %>
</div>

<div class="field">
	<%= label_tag 'recipients', t(:chose_recipients) %>
	<%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: "chosen-it" %>
</div>

<%= submit_tag t(:send), class: "ui submit button" %>
<% end %>

</div>