<% provide(:title, 'Sign up') %>
<div dir="rtl" lang="ar" class="new">
<div class="ui middle aligned center aligned grid" >
  <div class="column">
    <h2 class="ui image header" >
    <div class="column"><img src="<%= asset_path 'wilaya.png' %>" class="image" height="110" width="110" style="margin: 0px auto;"></div>
      
      <div class="white" >
        <%= t :reservé_employé_wilaya %>
      </div>
    </h2>
</div>
</div>
<div style="margin: 10px 400px -50px 400px;">
<%= render 'shared/flash_message' %></div>


<div class="ui raised segment" style="margin: 60px 400px; background: rgb(246, 227, 186); ">



  <h4 class="ui right dividing large header"><%= t :password_forgotten %></h4>

    <%= form_for(:password_reset, url: password_resets_path, html: { class: 'ui form', style: "overflow:hidden;" }) do |f| %>



    <div class="field">
    <%= f.label :email, t(:email), style: "float:right;" %>
    <%= f.text_field :email, placeholder: "foobar@example.com", type: 'email'%>
    </div>


    <%= f.submit t(:reset_password), class: "ui fluid blue button" %>
    <% end %>
</div>

</div>