
<div dir="rtl" lang="ar" >


<div style="margin-top:-60px;"></div>
<div class="ui grid">
<div class="four wide column">

<div class="ui inverted segment" style="height:100%;">

<div class="change effect">

<div class="ui small circular image" id="center">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <a href="http://gravatar.com/emails" target=_blank> <div class="ui inverted header" ><u>Change</u></div></a>
          </div>
        </div>
      </div>
      
      <%= gravatar_for(current_user)%>
      
    </div>

<div style="margin: 8px;"></div>

<% if current_user.admin? %>
<%= link_to t(:new_article), new_article_path, class: "ui fluid blue button" %>
<% end %>

<div class="ui large inverted vertical menu" style="width: 100%;">


<%= mailbox_section "inbox", @box, style: "text-align:right;", text: t(:inbox) %>
<%= mailbox_section "sent", @box, style: "text-align:right;", text: t(:sent) %>
<%= mailbox_section "trash", @box, style: "text-align:right;", text: t(:trash) %>

  
</div>


</div>

</div>
</div>
<div class="twelve wide column">
<div class="user-content">
<%= render 'shared/flash_message' %>
</div>
	<div style="text-align:right;">
<h1><%= t :conversations %></h1>
<p>
	<%= link_to t(:new_conversation), new_message_path, class: "ui blue button" %>
</p>

	<% if @box == 'trash' %>
		<p>
			<%= link_to t(:empty_trash), empty_trash_conversations_path, class: "ui positive button", method: :delete, data: { confirm: 'Are you sure ?' } %>
		</p>
	<% end %>
	</div>
<ul class="ui items">

	<%= render partial: 'conversations/conversation', collection: @conversations %>
	
</ul>

<%= will_paginate %>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
</div>


</div>
