<% provide(:title, 'Sign up') %>
<div class="new">
<div class="ui middle aligned center aligned grid" >
  <div class="column">
    <h2 class="ui image header" >
    <div class="column"><img src="<%= asset_path 'wilaya.png' %>" class="image" height="110" width="110" style="margin: 0 0 10px 25px;"></div>
      
      <div class="white" >
        خاص بموظفي الولاية
      </div>
    </h2>
</div>
</div>


<div class="ui raised segment" style="margin: 60px 400px; background: rgb(246, 227, 186);">

  <h4 class="ui dividing large header">Shipping Information</h4>

 <%= render 'shared/error_massages' %>
    <%= form_for(@user, html: { class: 'ui form' }) do |f| %>



    <div class="required field <%= 'required field' if @user.errors.include? "Name can't be blank" %>">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Full name", type: 'text'%>
    </div>

    <div class="required field">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Foobar@example.com", type: 'email' %>
    </div>

    <div class="required field">
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password", type: 'password' %>
    </div>

    <div class="required field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, placeholder: "Retype password", type: 'password' %>
    </div>
    

    <%= f.submit "Create my account", class: "ui blue button" %>
    <% end %>



</div>
</div>
