<div class="ui raised segment" style="margin: 60px 200px; background: rgb(246, 227, 186);">

<div class="ui grid">

	<div class="five wide column">
	<div class="ui special cards">
		<div class="card">
		    <div class="blurring dimmable image">
		      <div class="ui inverted dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui primary button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <%= gravatar_for(@user) %>
		    </div>
		    <div class="content">
		      <a class="header"><%= @user.name %></a>
		      <div class="meta">
		        <span class="date">Create in <%= @user.created_at.strftime("%-d %B %Y") %></span>
		      </div>
		    </div>
		    <div class="extra content">
		      <%= link_to "Send message", new_message_path(to: @user.id), class: "ui blue button" %>
		    </div>
		</div>
	</div>
		
	</div>

<div class="eleven wide column">
	
	
    <img src="<%= asset_path 'logo_wilaya_oujda_with_text.png' %>" style="margin: 100px 20px;">
    

</div>



</div>

	
</div>