<header>
	<div class="ui compact inverted top fixed menu">
  <div class="item">
 
  <%= link_to image_tag("logo_wilaya.png", alt: "wilaya de Oujda", class: "logo-header"), root_path %> 

  <!-- THIS SHOULD GO TO HELPER I MEAN CREATE A PATH FOR INDEX -->
    
  </div>
  <div class="right menu">
  <a class="item <%= 'active' if current_page?(about_path) %>" href="/about"><%= t :about %><i class="info icon"></i></a>
  <a class="item " href="/"><%= t :contact_us %><i class="talk icon" style="margin-left: 5px;"></i></a>
  <a class="item <%= 'active item' if current_page?(help_path) %>" href="/help"><%= t :help %><i class="help icon"></i></a>
  <a class="item"><%= t :papers %><i class="file text outline icon" style="margin-left: 5px;"></i></a>

<%= link_to users_path, class: 'item' do %><%= t :users %>
    <%= content_tag :i, "", class: 'users icon', style: "margin-left: 5px;" %>
    <% end %>

    <div class="ui simple dropdown item">
      <%= t :services %><i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="bar chart icon"></i><%= t :election %></a>
        <a class="item"><i class="star icon"></i><%= t :ramed %></a>
        <a class="item"><i class="car icon"></i><%= t :permis %></a>
        <a class="item"><i class="plane icon"></i><%= t :passport %></a>
      </div>
    </div>
    
    <% if !logged_in? %>
      <div class="item">
      <%= link_to "Log in", login_path, class: "ui olive button" %>
      </div>
    <% else %>



      <div class="ui simple dropdown item"><div class="ui small circular image custom">
            <%= gravatar_for current_user %></div>
      <%= current_user.name %><i class="dropdown icon"></i>
      <div class="menu">

      <%= link_to conversations_path, class: 'item' do %>
      
      <%= content_tag :i, "", class: 'user icon' %><%= t :profile %>
      <% end %>

      <%= link_to edit_user_path(current_user), class: 'item' do %>
      
      <%= content_tag :i, "", class: 'settings icon' %><%= t :settings %>
      <% end %>
      <div class="ui divider">
      </div>
        <%= link_to logout_path, class: 'item', method: "delete" do %>
      
      <%= content_tag :i, "", class: 'sign out icon' %><%= t :log_out %>
      <% end %>
      
       
      </div>
    </div>
    <% end %>
    
    </div>
</header>

<div style="margin-top: 100px;" ></div>



<!--
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">Prefecture de Oujda</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a>
                </li>
                <li><a href="/products">Products</a>
                </li>
                <li><a href="/about-us">About Us</a>
                </li>
                <li><a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="margin-top: 70px;"></div>
-->
