<!DOCTYPE html>
<html>
<head>
  <title>Klechkowski</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>

<%= render 'layouts/header' %>



<%= yield %>




<%= render 'layouts/footer' %>

<%= link_to "arabic", root_path(locale: "ar"), class: "ui fluid blue button" %>
<%= link_to "english", root_path(locale: "en"), class: "ui fluid yellow button" %>
<%= link_to "sign up", signUp_path, class: "ui fluid pink button" %>


</body>
</html>
